<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="kiwi_commerce_testimonials" frontName="kiwi_commerce_testimonials">
            <module name="KiwiCommerce_Testimonials" />
        </route>
    </router>
</config>